{% extends 'base.html' %}

{% block title %}
Detail
{% endblock %}

{% block content %}
{{object.site_name}}<br/>
{{object.url}}

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <td><a href="{% url 'bookmark:update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
    <td><a href="{% url 'bookmark:delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    <a href="{% url 'bookmark:list' %}"  class="btn btn-sm" >Bookmark List</a>
</form>

{% endblock %}
